<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Shows BuzzFeed</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="films">
                <span class="oi oi-video" aria-hidden="true"></span> Films
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tvshows">
                <span class="oi oi-video" aria-hidden="true"></span> TVShows
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ratings">
                <span class="oi oi-video" aria-hidden="true"></span> Ratings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="oi oi-video" aria-hidden="true"></span> Users
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="UserSeenFilms">
                <span class="oi oi-video" aria-hidden="true"></span> User Seen Films
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="UserSeenTvShows">
                <span class="oi oi-video" aria-hidden="true"></span> User Seen Tv Shows
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="questions">
                <span class="oi oi-video" aria-hidden="true"></span> Questions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="recommendedFilm">
                <span class="oi oi-video" aria-hidden="true"></span> Recommended Film
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="recommendedTvShow">
                <span class="oi oi-video" aria-hidden="true"></span> Recommended Show
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="quizes">
                <span class="oi oi-video" aria-hidden="true"></span> Quizes
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
